/*Fuentes*/

@font-face {
	font-family: 'Conv_Comfortaa-VariableFont_wght';
	src: url('fonts/Comfortaa-VariableFont_wght.eot');
	src: local('☺'), 
	url('fonts/Comfortaa-VariableFont_wght.woff') format('woff'), 
	url('fonts/Comfortaa-VariableFont_wght.ttf') format('truetype'), 
	url('fonts/Comfortaa-VariableFont_wght.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* General */



	body.content_type_clase_tabarcademo {
		font-size: 1.8rem;
		font: 400 15px 'Source Sans Pro',sans-serif;
	}

	body.content_type_clase_tabarcademo #actividad .content img {
		padding: 0px;
	}


	.is_app.content_type_clase_tabarcademo {
		padding-top: 0px;
	}

	.content_type_clase_tabarcademo #actividad {
		margin-bottom: 0px;
		-webkit-transform: none;
		-webkit-transform-style: flat;
	}

	#actividad .carousel-inner .item-container {
		background-image: none;
		margin: 20px auto 30px;
		padding: 0px;
		padding-bottom: 90px;
		position: relative;
		max-width: 1080px;
	}

	.content_type_clase_tabarcademo #actividad .slide-concatenate {
		margin-top: 30px;
	}

	.content_type_clase_tabarcademo #actividad .content .header .title img,
	.content_type_clase_tabarcademo #actividad .content .header .chapter {
		display: none;
	}

	#indice .units ul li a .number,
	#indice .unit-content .header .number
	 {
		visibility: hidden;
	}

	.content_type_clase_tabarcademo #actividad .content .header {
		border: none;
		margin-bottom: 0;
	}

	.content_type_clase_tabarcademo #actividad .content .header .title {
    	text-align: center;
    	padding: 0;
    	width: 100%;
    	margin: 0;
	}


	.content_type_clase_tabarcademo #actividad .content .slide-concatenate .header .title {
		display: none;
	}

	.content_type_clase_tabarcademo #actividad .content .header .title h3 {
		position: relative;
    	display: block;
    	width: fit-content;
    	font-size: 3.3rem;
    	font-weight: 100;
    	background: transparent;
    	padding: 5px 15px 5px 90px;
    	margin-bottom: 20px;
    	margin-top: 10px;
	}

	.content_type_clase_tabarcademo #actividad .content .seccion_rosa .header .title h3 {
		position: relative;
	    display: block;
	    width: fit-content;
	    margin: 0;
	    padding: 10px 20px 10px 0px;
	    color: #E72186;
	    font-size: 3.5rem;
	    font-weight: bold;
	    text-align: left;
	}

	.content_type_clase_tabarcademo #actividad .content .seccion_verde .header .title h3 {
		position: relative;
	    display: block;
	    width: fit-content;
	    margin: 0;
	    padding: 10px 20px 10px 0px;
	    color: #A4C840;
	    font-size: 3.5rem;
	    font-weight: bold;
	    text-align: left;
	}


	.content_type_clase_tabarcademo #actividad .content .header .title h3 span {
		float: left;
		font-size: 1.8rem;
		font-weight: 900;
		line-height: 1.1rem;
	}

	.content_type_clase_tabarcademo #actividad .slide_content_type_1 .pregunta .texto_curso,
	.content_type_clase_tabarcademo #actividad .texto_curso,
	.html-book {
		font-size: 1.8rem;
	}

	.texto_curso p:last-of-type {
		margin-bottom: 15px;
	}



	#actividad .class_slide {
    	padding: 40px 0 0;
	}

	#actividad .class_slide:last-of-type {
	    padding-bottom: 0px;
	}

	#actividad .slide-concatenate .class_slide {
	    padding-bottom: 20px;
	}

	#actividad .slide-concatenate:last-of-type .class_slide {
	    padding-bottom: 100px;
	}

	.content_type_clase_tabarcademo .slide_main {
		padding: 0 97px;
	}




	#actividad .player.audio {
	    border-radius: 0px;
	    background: url(images/icono_audio.png) center center / cover;
	}

	@media screen and (max-width: 480px) {
		.content_type_clase_tabarcademo .slide_main {
			padding: 0 35px;
		}
	}

	.content_type_clase_tabarcademo .slide_main input,
	.content_type_clase_tabarcademo .slide_main .img-input-container {
		color: #555;
		background-color: #fff;
		background-image: none;
		border-bottom: 2px dotted #aaa;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		        border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		     box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
	}

	.content_type_clase_tabarcademo .slide_main input:focus,
	.content_type_clase_tabarcademo .slide_main .img-input-container:focus {
		border-top-color: #ffcf01;
		border-right-color: #ffcf01;
		border-bottom-color: #ffcf01;
		border-left-color: #ffcf01;
		outline-width: 0px;
		outline-style: none;
		-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
		   -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
		        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
	}

	.content_type_clase_tabarcademo .slide_main input[disabled],
	.content_type_clase_tabarcademo .slide_main input[readonly],
	fieldset[disabled] .content_type_clase_tabarcademo .slide_main input,
	.content_type_clase_tabarcademo .slide_main .img-input-container {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	.content_type_clase_tabarcademo .slide_main .img-input-container input[readonly],
	.content_type_clase_tabarcademo .slide_main .img-input-container input[disabled] {
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.content_type_clase_tabarcademo .slide_main input.respuesta_ok,
	.content_type_clase_tabarcademo .slide_main .img-input-container.respuesta_ok {
		border-color: #57e900;
		background: #D1F3BD;
	}

	.content_type_clase_tabarcademo .slide_main input.respuesta_ko,
	.content_type_clase_tabarcademo .slide_main .img-input-container.respuesta_ko {
		border-color: #FF3626;
		background: #FFA49D;
	}

	.content_type_clase_tabarcademo .slide_main input.solucion,
	.content_type_clase_tabarcademo .slide_main .img-input-container.solucion {
		border-color: #00BDFF;
		background: #B6ECFF;
	}

	.zoom_flag_img {
		top: 15px;
		right: 15px;
	}
/**/

/* Navbar */
.navbar-bottom {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #d2d0d0;
	}


.logo-publisher {
	    float: left;
    display: block;
    width: 125px;
    height: 45px;
    margin: 5px 0;
    background: url(images/logos_tabarca_marfil.png) center center / cover no-repeat;
    margin-left: -40px;
}

	@media only screen and (max-width: 640px) {
		.navbar-bottom {
			padding-left: 40px;
			padding-right: 40px;
		}

	}

	.slider-indicators {
	    padding-left: 0px;
	    padding-right: 0px;
	    white-space: nowrap;
	}
	.edit .slider-indicators {
		white-space: normal;
	}
	.slider-indicators li,
	.edit .slider-indicators li {
		background-color: #ffffff;
	    color: #005840;
	}

	.slider-indicators .active,
	.edit .slider-indicators .active,
	.slider-indicators li:hover,
	.edit .slider-indicators .concat.active,
	.slider-indicators .active {
	    background-color: #bae2e6;
	    color: #333;
	}

	.edit .slider-indicators .concat.active:before {
 		background-color: #8b9c23;
	}

	#bottom-navigator {
		overflow: hidden;
		position: relative;
	}
	#bottom-navigator .slider-indicators {
		margin-left: auto;
		margin-right: auto;
	}
	#bottom-navigator .slider-indicators:after {
		content: '';
		display: table;
		clear: both;
	}
	#bottom-navigator li {
		width: 18px;
		height: 18px;
		margin: 2px 5px;
		background: #fff;
		color: transparent;
		line-height: 2.2rem;
		font-size: 1.8rem;
		font-weight: bold;
		text-indent: initial;
	}
	#bottom-navigator li:hover {
		  background: #c1eaf9;
    	  color: transparent;
	}
	#bottom-navigator li.active {
		background: #61ABC6;
   		color: transparent;
	}
	#bottom-navigator.show_left:before {
		content: '\F053';
		font-family: 'FontAwesome';
		position: absolute;
		left: 0;
		z-index: 100;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 5.4rem;
		width: 20px;
		text-align: left;
		background: -webkit-gradient(linear, left top, right top, from(#132E4C), to(transparent));
		background: -webkit-linear-gradient(left, #132E4C, transparent);
		background: -moz-linear-gradient(left, #132E4C, transparent);
		background: -o-linear-gradient(left, #132E4C, transparent);
		background: linear-gradient(to right, #132E4C, transparent);
	}

	#bottom-navigator.show_right:after {
		content: '\F054';
		font-family: 'FontAwesome';
		position: absolute;
		right: 0;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 5.4rem;
		width: 20px;
		text-align: right;
		background: -webkit-gradient(linear, right top, left top, from(#132E4C), to(transparent));
		background: -webkit-linear-gradient(right, #132E4C, transparent);
		background: -moz-linear-gradient(right, #132E4C, transparent);
		background: -o-linear-gradient(right, #132E4C, transparent);
		background: linear-gradient(to left, #132E4C, transparent);
	}

/**/

/*TOC*/

#indice .units ul li {
    background: #61abc6;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 0px;
    margin-bottom: 8px;
    padding: 0px;
}

#indice .units ul li.active:not(.disabled), 
body:not(.isTablet) #indice .units ul li:hover:not(.disabled), 
#indice .units ul li:focus:not(.disabled) {
    background: transparent;
    border-bottom: 2.5px solid #61ABC6;
}

body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover .title, 
body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title {
    color: #61abc6;
    font-size: 1.8rem;
}

body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover, 
#indice .units ul li.active a {
    color: #fff;
}

#indice .units ul li a .title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    margin: -21px 0 0 35px;
    line-height: 18px;
    display: block;
}


.btn-primary.disabled {
	border-radius: 0px;
	background: #61ABC6;
}


a:hover, a:active, a:focus {
    outline: 0;
    color: #61ABC6;
    text-decoration: none;
}

#indice .units ul li a:not(.delete) {
    display: block;
    padding: 8px 18px;
}

#indice .unit-content .header .title {
    color: #fff;
    float: left;
    font-size: 30px;
    font-weight: 700;
    height: 106px;
    line-height: 34px;
    margin: 20px 140px 20px 30px;
    overflow: hidden;
    z-index: 1;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: none;
}

/**/

/*Enlace descarga*/
.bck-sub-label, .bck-file-label {
    background: transparent;
    max-width: 200px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-wrap: break-word;
    vertical-align: top;
    color: #61abc6;
}

.bck-file-attach img {
    display: none;
}

/*SECCIONES*/

/*slide_sin_titulo*/

.content_type_clase_tabarcademo #actividad .content .slide_sin_titulo .header .title {
   display: none;
}

#actividad .carousel-inner .slide_sin_titulo .item-container {
    background-image: none;
    margin: 20px auto 30px;
    padding: 0px;
    padding-bottom: 90px;
    position: relative;
    z-index: 0;
}




/*TÍTULOS*/

/*TITULO 1*/

.bck-title1 {
	font-weight: bold;
	text-align: center;
    margin: 0;
    border: 4px solid #d6bd76;
    border-right-width: 2px;
    padding: 15px;
    border-top-left-radius: 35px;
    font-size: 1.8rem;
}

/*TITULO 2*/

.bck-title2 {
	font-weight: bold;
	text-align: center;
    margin: 0;
    border: 4px solid #d6bd76;
    border-right-width: 2px;
    border-left-width: 2px;
    padding: 15px;
    font-size: 1.8rem;
}

/*TITULO 3*/

.bck-title3 {
	font-weight: bold;
	text-align: center;
    margin: 0;
    border: 4px solid #d6bd76;
    border-left-width: 2px;
    padding: 15px;
    border-top-right-radius: 35px;   
    font-size: 1.8rem;
}


/* Listas */

.texto_curso ul li,
.workspace ul li ul li,
.cke_contents ul li {
	padding-left: 20px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before {
	width: 4px;
	height: 4px;
	background-color: #414141;
}

#actividad .content .cke_contents .bck-ol li,
#actividad .content .texto_curso .bck-ol li,
#actividad .popover-content .bck-ol li,
#actividad .content .workspace ul li .bck-ol li {
	counter-increment: bck-li-counter;
	list-style-type: none;
}

/*LISTA ORDENADA 1*/

.content .bck-ol1 li,
.cke_contents .bck-ol1 li {
	font-weight: normal;
    color: #333;
    margin-left: -15px;
}


.content .bck-ol1 li:before,
.cke_contents .bck-ol1 li:before {
	content: counter(bck-li-counter) ".";
    color: #58595B;
    position: absolute;
    left: 0px;
    font-weight: bold;
}

/*LISTA ORDENADA 2*/

.content .bck-ol2 li,
.cke_contents .bck-ol2 li {
	font-weight: normal;
    color: #333;
    margin-left: -15px;
	
}

.content .bck-ol2 li:before,
.cke_contents .bck-ol2 li:before {
    content: counter(bck-li-counter, lower-alpha) ".";
    color: #58595B;
    position: absolute;
    left: 0px;
    font-weight: bold;

}

/*LISTA ORDENADA 3*/

.content .bck-ol3 li,
.cke_contents .bck-ol3 li {
	font-weight: normal;
    color: #333;
    margin-left: 5px;
	}

.content .bck-ol3 li:before,
.cke_contents .bck-ol3 li:before {
    content: counter(bck-li-counter) ".";
    color: #58595B;
    position: absolute;
    left: 0px;
    margin-left: 25px;
}

/*LISTA ORDENADA 4*/

.content .bck-ol4 li,
.cke_contents .bck-ol4 li {
	font-weight: normal;
	color: #fff;
	margin-left: -10px;
	padding-left: 60px;
	font-size: 2.3rem;
	font-family: 'Conv_OpenDyslexic-Regular',Sans-Serif;
	}


.content .bck-ol4 li:before,
.cke_contents .bck-ol4 li:before {
    content: counter(bck-li-counter) ".";
    position: absolute;
    margin-top: 4px;
    left: 20px;
    display: inline-block;
    width: 40px;
    height: 0px;
    border: 0px;
    background: transparent;
    color: #fff;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    transform: none;
    margin-right: -10px;
    font-family: 'Conv_OpenDyslexic-Bold',Sans-Serif;
    }

/*LISTA ORDENADA 5*/

.content .bck-ol5 li,
.cke_contents .bck-ol5 li {
	font-weight: normal;
	color: #333;
	margin-left: -10px;
	padding-left: 80px;
	font-size: 2.3rem;
	font-family: 'Conv_OpenDyslexic-Regular',Sans-Serif;
	}


.content .bck-ol5 li:before,
.cke_contents .bck-ol5 li:before {
	content: counter(bck-li-counter, lower-alpha) ".";
    position: absolute;
    margin-top: 4px;
    left: 40px;
    display: inline-block;
    width: 40px;
    height: 0px;
    border: 0px;
    background: transparent;
    color: #333;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    transform: none;
    margin-right: -10px;
    font-family: 'Conv_OpenDyslexic-Bold',Sans-Serif;
    }


/*LISTA ORDENADA 6*/

.content .bck-ol6 li,
.cke_contents .bck-ol6 li {
	font-weight: normal;
	color: #333;
	margin-left: -10px;
	padding-left: 80px;
	font-size: 2.3rem;
	font-family: 'Conv_OpenDyslexic-Regular',Sans-Serif;
	}


.content .bck-ol6 li:before,
.cke_contents .bck-ol6 li:before {
    content: counter(bck-li-counter) " ";
    position: absolute;
    margin-top: 4px;
    left: 40px;
    display: inline-block;
    width: 36px;
    height: auto;
    border: 2px solid #EA368E;
    border-radius: 100%;
    background: transparent;
    color: #333;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    transform: none;
    margin-right: -10px;
    padding-top: 0px;
    font-family: 'Conv_OpenDyslexic-Bold',Sans-Serif;
    }


/*LISTA ORDENADA 7*/

.content .bck-ol7 li,
.cke_contents .bck-ol7 li {
	font-weight: normal;
	color: #333;
	margin-left: -10px;
	padding-left: 80px;
	font-size: 2.3rem;
	font-family: 'Conv_OpenDyslexic-Regular',Sans-Serif;
	}

.content .bck-ol7 li:before,
.cke_contents .bck-ol7 li:before {
	content: counter(bck-li-counter) " ";
    position: absolute;
    margin-top: 4px;
    left: 40px;
    display: inline-block;
    width: 36px;
    height: auto;
    border: 2px solid #00AC81;
    border-radius: 100%;
    background: transparent;
    color: #333;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    transform: none;
    margin-right: -10px;
    padding-top: 0px;
    font-family: 'Conv_OpenDyslexic-Bold',Sans-Serif;
}

/*LISTA ORDENADA 8*/

.content .bck-ol8 li,
.cke_contents .bck-ol8 li {
	font-weight: normal;
	color: #333;
	margin-left: -10px;
	padding-left: 80px;
	font-size: 2.3rem;
	font-family: 'Conv_OpenDyslexic-Regular',Sans-Serif;
	}

.content .bck-ol8 li:before,
.cke_contents .bck-ol8 li:before {
	content: counter(bck-li-counter) " ";
    position: absolute;
    margin-top: 4px;
    left: 40px;
    display: inline-block;
    width: 36px;
    height: auto;
    border: 2px solid #FFCF01;
    border-radius: 100%;
    background: transparent;
    color: #333;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    transform: none;
    margin-right: -10px;
    padding-top: 0px;
    font-family: 'Conv_OpenDyslexic-Bold',Sans-Serif;
}

/*LISTA ORDENADA 9*/

.content .bck-ol9 li,
.cke_contents .bck-ol9 li {
	font-weight: normal;
	color: #333;
	margin-left: -10px;
	padding-left: 80px;
	font-size: 2.3rem;
	font-family: 'Conv_OpenDyslexic-Regular',Sans-Serif;
	}

.content .bck-ol9 li:before,
.cke_contents .bck-ol9 li:before {
	content: counter(bck-li-counter, lower-alpha) " ";
    position: absolute;
    margin-top: 4px;
    left: 40px;
    display: inline-block;
    width: 36px;
    height: auto;
    border: 2px solid #EA368E;
    border-radius: 100%;
    background: transparent;
    color: #333;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    transform: none;
    margin-right: -10px;
    padding-top: 0px;
    font-family: 'Conv_OpenDyslexic-Bold',Sans-Serif;
}

/*LISTA ORDENADA 10*/

.content .bck-ol10 li,
.cke_contents .bck-ol10 li {
	font-weight: normal;
	color: #0068AF;
	margin-left: -10px;
	padding-left: 80px;
	font-size: 2.3rem;
	font-family: 'Conv_OpenDyslexic-Regular',Sans-Serif;
	}

.content .bck-ol10 li:before,
.cke_contents .bck-ol10 li:before {
	content: counter(bck-li-counter) ".";
    position: absolute;
    margin-top: 4px;
    left: 40px;
    display: inline-block;
    width: 40px;
    height: 0px;
    border: 0px;
    background: transparent;
    color: #0068AF;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    transform: none;
    margin-right: -10px;
    font-family: 'Conv_OpenDyslexic-Bold',Sans-Serif;
}


/*CAJAS*/

.bck-box {
	margin: 10px 10px 20px 10px;
    border: 2px solid transparent;
    border-radius: 0px;
    background: #fff;
    padding: 6px 20px;
}

.bck-box .bck-content p:last-child {
	margin-bottom: 0;
}


/* Caja 1*/
.bck-box.bck-box1 {
	background-color: #FCEAF1;
    border-radius: 20px;
    margin-bottom: 20px;
}


/*Celda 1*/

.content table:not(.rf-tablegrid) td.bck-td-1 {
    border: 7px solid #fff;
    border-left: none;
    padding: 10px;
    background: #ECDAB4;
    color: #818385;
    font-weight: 900;
    padding-left: 20px;
}

/*Celda 2*/

.content table:not(.rf-tablegrid) td.bck-td-2 {
    border: 7px solid #fff;
    border-right: none;
    padding: 10px;
    background: #E0E8D3;
    font-weight: 400;
    color: #333;
    padding-right: 20px;
}



/* Icons */

#actividad .player.audio {
	background: url(images/icono_audio.png) center center / cover;
}

#actividad .player.audio, 
#actividad .player.video, 
#help-panel-content .player, 
#remote-alert-modal-rich .player {
    height: 40px !important;
    width: 40px;
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}


.item-container .icon:before {
	content: "";
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	   -moz-background-size: auto 100%;
	     -o-background-size: auto 100%;
	        background-size: auto 100%;
	background-position: center center;
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 45px;
	margin-top: 0px;
}


/* Forms */

.content_type_clase_tabarcademo .slide_main input,
.content_type_clase_tabarcademo .slide_main .img-input-container {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
       -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    		box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    border: 0px solid #ccc;
    border-bottom: 2px dotted #aaa;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
    		border-radius: 0px;
    padding: 0px;
}

.content_type_clase_tabarcademo .slide_main .fill-text .img-input-container {
    display: none;
}

.content_type_clase_tabarcademo .slide_main input:focus,
.content_type_clase_tabarcademo .slide_main .img-input-container:focus {
    border-top-color: #61abc6;
    border-right-color: #61abc6;
    border-bottom-color: #61abc6;
    border-left-color: #61abc6;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
}

/*QUERIES*/

@media screen and (max-width: 670px) {	
  .bck-box.bck-box1 {
    padding: 15px 20px 5px 25px;
}

.bck-box1 .bck-content {
    font-size: 3.5rem;
    -webkit-text-stroke: #ea368e 1.5px;
}

.bck-box1 .bck-content .player.audio {
    padding: 20px;
}

.bck-box1 .bck-title {
    font-size: 1.8rem;
}

.bck-box.bck-box2 {
    padding: 15px 20px 5px 25px;
}

.bck-box2 .bck-content {
    font-size: 3.5rem;
    -webkit-text-stroke: #00AC81 1.5px;
}

.bck-box2 .bck-content .player.audio {
    padding: 20px;
}

.bck-box2 .bck-title {
    font-size: 1.8rem;
}

}

/**/

@media screen and (max-width: 480px) {

   .content_type_clase_tabarcademo #actividad .content .header .title:before {
    padding: 30px 5px 10px 5px;
    left: 10px;
    font-size: 1.2rem;
    margin-top: -40px;
}

.content_type_clase_tabarcademo #actividad .content .header .title h3 {
    font-size: 1.8rem;
    -webkit-text-stroke: #EA368E 1px;
     padding: 10px 5px 10px 5px;
   
}



.bck-box.bck-box1 {
    padding: 5px 20px 15px 25px;
    margin-top: -40px;
}

.bck-box1 .bck-content {
    font-size: 2.8rem;
    -webkit-text-stroke: #ea368e 1.5px;
}

.bck-box1 .bck-content .player.audio {
    padding: 15px;
}

.bck-box1 .bck-title {
    font-size: 1.5rem;
    padding-top: 20px;
    margin-top: -5px;
}

  .bck-box.bck-box2 {
    padding: 5px 20px 15px 25px;
    margin-top: -40px;
}

.bck-box2 .bck-content {
    font-size: 2.8rem;
    -webkit-text-stroke: #00AC81 1.5px;
}

.bck-box2 .bck-content .player.audio {
    padding: 15px;
}

.bck-box2 .bck-title {
    font-size: 1.5rem;
    padding-top: 20px;
    margin-top: -5px;
}


.bck-box.bck-box21 {
    left: -19.4%;
}

}


@media screen and (max-width: 480px) {
.btn-danger,
.btn-solution,
.btn-save[disabled] {
	margin-bottom: 5px;
}
}

/**/


/* Slides */

#actividad .workspace.multiple-choice .opcion,
#actividad .workspace.matching .opcion,
#actividad .workspace.ordenar .js-rank-item {
    border: 2px solid #ffcf01;
    background: #fff;
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    border: 0px solid #d8d8d8;
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #ffcf01;
    padding-top: 10px;
}


.fillblanks-draggable-wrapper .response .bck-i-fullscreen-wrapper {
    padding: 0;
}

body.content_type_clase_tabarcademo #actividad .content .fillblanks-draggable-wrapper
.response .bck-i-fullscreen,
body.content_type_clase_tabarcademo #actividad .content .fillblanks-draggable
.img-input-container.imgFilled img {
	width: auto;
	height: 100px !important;
	padding: 0;
}

.nota-budget span {
    padding: 2px 46px 6px 10px;
}
